<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metahead.ejs') -%>
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') -%>

    <div id="wrapper">
      <section id="full-height">
        <h1>
          Welcome To Pfalfa
        </h1>
      </section>
    </div>
  </body>
</html>
